.header {
    display: flex;
    height: 70px;
    align-items: center;
}

.logo {
    width: 500px;
}

.logo h1 {
    transition: transform 0.25s ease;
}

.navList {
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.navList li {
    padding: 15px;
    margin: 0 25px;
    font-weight: 600px;
    transition: transform 0.25s ease;
}

.gitLogo {
    width: 300px;
    display: flex;
    justify-content: end;
}

.github-logo {
    width: 50px;
    transition: transform 0.25s ease;
}

.logo h1:hover,
.navList li:hover,
.github-logo:hover {
    cursor: pointer;
    transform: scale(1.03);
}